Definir:
1 - Evolução quantitativa de clientes ativos por mês
2 - Classificar os clientes por volume e frequencia de compra.
3 - O que cada cliente compra e com que frequência.
4 - Evolução dos produtos Oferecidos
5 - Classificar produtos por tipo.Varios produtos identicos com códigos diferentes em função da embalagem
6 - Análise geográfica x volume x produto

In [1]:
import pandas as pd
import numpy as np
import locale
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Define Moeda Brasileira numeros R$ 1.000,00
locale.setlocale( locale.LC_ALL, '' )
#locale.currency( g, grouping = True )

'Portuguese_Brazil.1252'

In [2]:
#locale.currency( g, grouping = True )

In [3]:
from numpy.random import randn
#np.random.seed(101)

In [4]:
#pd.options.display.float_format = 'R${:,.2f}'.format

In [5]:
# Abre o dataset
df = pd.read_csv('NFe-SupraAlimentos.csv')

#### Exclui a primeira coluna
#df.drop('xml',axis=1,inplace=True)

In [7]:
df.head()

,cliente,NF,data,CNPJ,cidade,bairro,UF,cod,descricao,QTY,unidade,preco
0,NF-E EMITIDA EM AMBIENTE DE HOMOLOGACAO - SEM ...,4,2014-08-29,27833615002018,RIO DE JANEIRO,CASIMIRO DE ABREU,RJ,20002,ALHO CEBOLA PICADINHO S/SAL 180GR,1,UN,2.77
1,NF-E EMITIDA EM AMBIENTE DE HOMOLOGACAO - SEM ...,5,2014-08-29,9309021000168,RIO DE JANEIRO,VILA NOVA DE CAMPOS,RJ,10002,ALECRIM 15GR,1,UN,1.11
2,NF-E EMITIDA EM AMBIENTE DE HOMOLOGACAO - SEM ...,6,2014-08-29,9309021000168,ANGRA DOS REIS,VILA NOVA DE CAMPOS,RJ,10001,ACAFRAO 15GR,12,UN,9.72
3,NF-E EMITIDA EM AMBIENTE DE HOMOLOGACAO - SEM ...,6,2014-08-29,9309021000168,ANGRA DOS REIS,VILA NOVA DE CAMPOS,RJ,10002,ALECRIM 15GR,1,UN,1.11
4,NF-E EMITIDA EM AMBIENTE DE HOMOLOGACAO - SEM ...,6,2014-08-29,9309021000168,ANGRA DOS REIS,VILA NOVA DE CAMPOS,RJ,10009,CALDO DE CARNE COM ERVAS FINAS 60GR,1,UN,1.43

#### Faturamento Total

In [10]:
g = float("{0:.2f}".format(df['preco'].sum())) 
FaturamentoTotal = locale.currency( g, grouping = True ) 
FaturamentoTotal

'R$11.677.734,97'

In [ ]:
# Total de NF

In [13]:
NotasFiscais = df['NF']

In [15]:
NotasFiscais = NotasFiscais.drop_duplicates()

In [18]:
len(NotasFiscais)

6627

#### Vendas Mensais

In [23]:
Vendas = df[['data','preco']].groupby(df['data'].str[0:7]).sum().reset_index()

In [20]:
Vendas_2018 = Vendas[(Vendas['data'].str[0:4]=='2018')]

In [21]:
Vendas_2018.tail(20)

       data      preco
41  2018-01  440912.50
42  2018-02  243182.04

In [ ]:
dados2018 = dados[(dados['data'].str[0:4]=='2018')]

# Cria arquivo de Clientes

In [17]:
clientes = df[['CNPJ','cliente','cidade','bairro','UF']].drop_duplicates().reset_index(drop=True)

In [18]:
clientes.tail()

,CNPJ,cliente,cidade,bairro,UF
838,26421190000295,LMP ATACAREJO - EIRELI.,MARICA,INOA,RJ
839,26425468000200,MGF ATACAREJO LTDA.,RIO BONITO,CENTRO,RJ
840,29080813000110,MERCADO ADONAI DO ENCANAMENTO LTDA,RIO DE JANEIRO,COSMOS,RJ
841,29080946000197,MERCADO ADONAI DE INHOAIBA LTDA,RIO DE JANEIRO,INHOAIBA,RJ
842,29081029000127,MERCADO ADONAI DO KM 32 LTDA,NOVA IGUACU,KM 32,RJ

In [19]:
clientes.to_csv('clientes.csv')

# Total de Clientes por Mês

In [68]:
#dados =  df['data','CNPJ','NF']       
#dados = df['data','CNPJ']
#df.groupby(['CNPJ','preco'])['prNFcidade']]
lista = df[['data','CNPJ','NF']].drop_duplicates().reset_index(drop=True)
lista.head(20)

          data            CNPJ    NF
0   2014-08-29  27833615002018     4
1   2014-08-29   9309021000168     5
2   2014-08-29   9309021000168     6
3   2014-08-29   9309021000168     7
4   2014-08-29   9309021000168     8
5   2014-08-29   9309021000168     9
6   2014-08-29   9309021000168    10
7   2014-09-09   8878246000172    12
8   2014-09-09   8878246000172    14
9   2014-09-09   8878246000172    15
10  2014-09-09   9309021000168    16
11  2014-09-09   8878246000172    17
12  2014-09-09  14326580000116    18
13  2014-09-09  14326580000116    19
14  2014-09-09   3182724000191    20
15  2014-09-25  11699310000162  1241
16  2014-09-25  10578244000371  1242
17  2014-09-25   8995681000187  1243
18  2014-09-25   8995681000187  1244
19  2014-09-25  12968606000102  1245

In [38]:
#dados = df['CNPJ'].size() df['data'].str[0:7]
dados = df.groupby([df['data'].str[0:7], 'CNPJ']).CNPJ.count()
dados

data     CNPJ
2014-08  9309021000168     10
         27833615002018     1
2014-09  803210000118      12
         3182724000191     12
         3494756000122      4
         4974643000197     12
         6790215000130     17
         8109307000137     39
         8878246000172     41
         8995681000187     19
         9309021000168      1
         10578244000371    40
         11699310000162    23
         12968606000102    19
         14326580000116    30
         27654565000149    41
         27833615001208    29
         27833615002107    20
         27833615002522    42
         32018491000194     6
2014-10  1829249000177     15
         4129887000173     24
         4904985000130     27
         5054332000172     52
         5256321000175     40
         5565335000170     51
         5787892000136     40
         7414757000170     36
         7532975000100     15
         7577743000178     43
                           ..
2018-02  27456707000163    59
         27603931000130     7
         27833615001208    30
         27833615001550     6
         27833615001631     7
         27833615001712    21
         27833615001801    49
         27833615001984    27
         27833615002018    30
         27833615002603    52
         27833615002875    12
         27833615003251    31
         27849764000102    40
         28076453000110    41
         28452026000190    30
         28504271000101     4
         28514600000197    13
         28581627000100     5
         29080813000110     3
         29080946000197     4
         29081029000127     4
         29618089000306     2
         31503576000103    65
         32120263000120    49
         32336794000317    32
         36398790000152    14
         36472215000152    12
         39508023000228    45
         40169278000101    63
         68726017000164     4
Name: CNPJ, Length: 5049, dtype: int64

In [34]:
dados

CNPJ
175479000105       394
334392000206         9
381613000116        86
803210000118       171
814123000166        56
834279000109       114
834279000290       118
1006952000185       52
1015564000160       57
1023162000108        4
1190829000167      485
1190829000248       13
1235391000196       33
1254351000272       53
1257874000191        9
1442299000105       48
1446960000142     1423
1448324000150      154
1466610000148       19
1704374000150       10
1829249000177       51
1841072000124       53
1848448000122        6
1872160000193        8
2068929000188      571
2075715000139        4
2084223000100       76
2101672000119        1
2165530000115       31
2275470000193        2
                  ...
39281142000100       5
39345244000141       4
39361142000110       8
39379011000160       9
39508023000228    2132
39508023000813       4
39621479000208     137
39638580000182      11
39690284000120      99
39703863000403     418
39707427000160     854
39790191000259       6
39792205000192       2
39818919000122      52
40169278000101    2043
40404683000167     117
42294744000106       1
42379339000190       4
62379037000391       1
66212721000173      19
68641935000190      23
68726017000164      20
69018190000170       1
72155534000106       5
72392434000195    1240
73237570000173     140
73915597000178     287
73915597000259    1015
74048224000100      84
74126707000185      30
Name: data, Length: 674, dtype: int64

# Total de compras por Cliente

In [ ]:
#compraDeClientes = df[['CNPJ','preco']].groupby([df['CNPJ']]).sum().reset_index()
compraDeClientes = df[['preco']].groupby([df['CNPJ']]).sum()
compraDeClientes.head()

In [ ]:
compras = compraDeClientes.reset_index(drop=False)

In [ ]:
compras = compras.rename(index=str, columns={"CNPJ": "CNPJ", "preco": "Valor"})

In [ ]:
compras.head()

In [ ]:
compras = compras.sort_values(by=['Valor'],ascending=False, na_position='first').reset_index(drop=True)

In [ ]:
compras.head()

In [ ]:
x= 474946/Faturamento

In [ ]:
compras.drop('xCompras')

In [ ]:
compras['% Total']=(compras['Valor']/Faturamento)*100

In [ ]:
compras.head()

In [ ]:
t = df.groupby('NF')["preco"].sum().rename("Total_NF").reset_index()

In [ ]:
tnf= len(t)

In [ ]:
tnf

In [ ]:
# Quantidade de Compras
qtyDeCompras = df[['NF']].groupby([df['CNPJ']]).size().rename('total').reset_index()

In [ ]:
qtyDeCompras.head()

In [ ]:
qtyDeCompras['frequencia']=(qtyDeCompras['total']/tnf)*100

In [ ]:
qtyDeCompras = qtyDeCompras.sort_values(by=['frequencia'],ascending=False, na_position='first').reset_index(drop=True)

In [ ]:
qtyDeCompras.head()

In [ ]:
# Convertendo de Série p/ dataframe
#yCompras = qtyDeCompras.to_frame().reset_index()

In [ ]:
# Faz o MERGE dos dois Datasets
s1 = pd.merge(compras, qtyDeCompras, how='inner', on=['CNPJ'])

In [ ]:
s1.head()

In [ ]:

type(s1.xCompras)

In [ ]:
import matplotlib.pyplot as plt
plt.plot(s1.xCompras, s1.frequencia, 'ro')
#plt.axis([0, 6, 0, 20])
plt.show()

# Numero de Clientes comprando por Mês

In [ ]:
dados = df.groupby([df['data'].str[0:7],df['CNPJ']]).size()

In [ ]:
dados.head()

In [ ]:
# Convertendo de Série p/ dataframe
d = dados.to_frame().reset_index()

In [ ]:
# Número de Clientes por Mês
numClientes = d.groupby('data').size()
numClientes.head()

In [ ]:
# Número médio de Clientes
a=(numClientes.mean())

In [ ]:
int(a)

In [ ]:
numC = numClientes.plot( x=numClientes, stacked=True, kind='bar', figsize=(20,7), rot=90, legend=False, facecolor='#AA0000')

numC.set_xlabel('Mês')
numC.set_ylabel('Número de Clientes')
numC.set_title('Clientes Ativos')
numC.axhline( y=a, color='g', linestyle='--', lw=2, label='Valor Médio')